[include mainsail.cfg]
[mcu]
canbus_uuid: 96161a70ce89

[temperature_sensor Octopus]
sensor_type: temperature_mcu
sensor_mcu: mcu


[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 6100             #Max 4000
max_z_velocity: 15          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

[exclude_object]

#####################################################################
#   X/Y Stepper Settings
#####################################################################

##  B Stepper - Left
##  Connected to MOTOR_4
##  Endstop connected to DIAG_0
[stepper_x]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
rotation_distance: 40
microsteps: 64
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: PG6
position_min: 0
position_endstop: 250
position_max: 250
homing_speed: 25   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PF2
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 1

##  A Stepper - Right
##  Connected to MOTOR_3
##  Endstop connected to DIAG_1
[stepper_y]
step_pin: PG4
dir_pin: PC1
enable_pin: !PA0
rotation_distance: 40
microsteps: 64
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: PG9
position_min: 0
position_endstop: 252
position_max: 252
homing_speed: 25  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_y]
uart_pin: PC7
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 1


#####################################################################
#   Z Stepper Settings
#####################################################################

##  Z0 Stepper - Front Left
##  Connected to MOTOR_0
##  Endstop connected to DIAG_2
[stepper_z]
step_pin: PF13
dir_pin: !PF12
enable_pin: !PF14
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 4
microsteps: 32
endstop_pin: ^PG10
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##  Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop: -0.5
## All builds use same Max Z
position_max: 247
position_min: -2.5
homing_speed: 8.0 # Leadscrews are slower than 2.4, 10 is a recommended max.
second_homing_speed: 3
homing_retract_dist: 3

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: PC4
interpolate: False
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 999999

##  Z1 Stepper - Rear Center
##  Connected to MOTOR_1
[stepper_z1]
step_pin: PG0
dir_pin: !PG1
enable_pin: !PF15
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 4
microsteps: 32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: PD11
interpolate: False
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 999999

##  Z2 Stepper - Front Right
##  Connected to MOTOR_2
[stepper_z2]
step_pin: PF11
dir_pin: !PG3
enable_pin: !PG5
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 4
microsteps: 32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z2]
uart_pin: PC6
interpolate: False
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 999999

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
##  SSR Pin - HE1
##  Thermistor - TB
heater_pin: PA2
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
sensor_type: Generic 3950
sensor_pin: PF3
##  Adjust Max Power so your heater doesn't warp your bed. Rule of thumb is 0.4 watts / cm^2 .
max_power: 0.6
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

[idle_timeout]
timeout: 3600

## Disabled due to Klicky
# [safe_z_home]
# ##  XY Location of the Z Endstop Switch
# ##  Update -10,-10 to the XY coordinates of your endstop pin 
# ##  (such as 157,305) after going through Z Endstop Pin
# ##  Location Definition step.
# home_xy_position:145,249
# speed:100
# z_hop:10

[z_tilt]
#  Use Z_TILT_ADJUST to level the bed .
#  z_positions: Location of toolhead
z_positions:
   -50, 18
   125, 298
   300, 18
points:
   30, 5
   125, 195
   220, 5
speed: 200
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075

[input_shaper]
shaper_freq_x: 60.8
shaper_type_x: zv
shaper_freq_y: 45.6
shaper_type_y: mzv


[z_calibration]
#   A X, Y coordinate (e.g. 100,100) of the nozzle, clicking on the Z endstop.
nozzle_xy_position: 145,251
#   A X, Y coordinate (e.g. 100,100) of the probe's switch body, clicking on
#   the Z endstop.
switch_xy_position: 141,227
#   a X, Y coordinate (e.g. 100,100) where the print surface (e.g. the center
#   point) is probed. These coordinates will be adapted by the
#   probe's X and Y offsets. The default is the relative_reference_index
#   of the configured bed_mesh, if configured. It's possible to change the relative
#   reference index at runtime or use the GCode argument BED_POSITION of CALIBRATE_Z.
bed_xy_position: 125,125
#   The trigger point offset of the used mag-probe switch.
#   Larger values will position the nozzle closer to the bed.
#   This needs to be find out manually. More on this later
#   in this section..
switch_offset: 0.45
#   The minimum and maximum margins allowed for the calculated offset.
#   If the offset is outside these values, it will stop!
#   The margin can be defined as "min,max" e.g. "-0.5,1.5" or by just one
#   value e.g. "1.0" which translates to "-1.0,1.0" (which is also the default).
offset_margins: -1.0,1.0
#   The number of times to probe each point. The probed z-values
#   will be averaged. The default is from the probe's configuration.
#samples: 3
#   The maximum Z distance (in mm) that a sample may differ from other
#   samples. The default is from the probe's configuration.
#samples_tolerance: default from "probe:samples_tolerance" section
#   The number of times to retry if a sample is found that exceeds
#   samples_tolerance. The default is from the probe's configuration.
#samples_tolerance_retries: default from "probe:samples_tolerance_retries" section
#   The calculation method when sampling more than once - either
#   "median" or "average". The default is from the probe's configuration.
#samples_result: default from "probe:samples_result" section
#   The absolute z position in mm to move to before moving to the next
#   position. The default is two times the z_offset from the probe's
#   configuration. The minimum safe z height is 3mm.
safe_z_height: 13
#   Minimum valid distance (in mm) used for probing move. The
#   default is from the Z rail configuration.
#position_min: default from "stepper_z:position_min" section.
#   The moving speed in X and Y. The default is 50 mm/s.
speed: 50
#   Speed (in mm/s) of the Z axis when lifting the probe between
#   samples and clearance moves. The default is from the probe's
#   configuration.
#lift_speed: default from "probe:lift_speed" section
#   The fast probing speed (in mm/s) used, when probing_first_fast
#   is activated. The default is from the Z rail configuration.
#probing_speed: default from "stepper_z:homing_speed" section.
#   The slower speed (in mm/s) for probing the recorded samples.
#   The default is second_homing_speed of the Z rail configuration.
#probing_second_speed: default from "stepper_z:second_homing_speed" section.
#   Distance to retract (in mm) before probing the next sample.
#   The default is homing_retract_dist from the Z rail configuration.
#probing_retract_dist: default from "stepper_z:homing_retract_dist" section.
#   If true, the first probing is done faster by the probing speed.
#   This is to get faster down and the result is not recorded as a
#   probing sample. The default is false.
probing_first_fast: true
#   A list of G-Code commands to execute prior to each calibration command.
#   See docs/Command_Templates.md for G-Code format. This can be used to
#   attach the probe.
start_gcode: Dock_Probe_Unlock
#   A list of G-Code commands to execute prior to each probing on the
#   mag-probe. See docs/Command_Templates.md for G-Code format. This can be
#   used to attach the probe after probing on the nozzle and before probing
#   on the mag-probe.
before_switch_gcode: Attach_Probe
#   A list of G-Code commands to execute after each calibration command.
#   See docs/Command_Templates.md for G-Code format. This can be used to
#   detach the probe afterwards.
end_gcode: Dock_Probe

#####################################################################
#   Fans
#####################################################################

[fan_generic nevermore]
pin: PD12
kick_start_time: 0.5

[controller_fan controller_fan]
pin: PA8
kick_start_time: 0.5
stepper: stepper_x, stepper_y, stepper_z, stepper_z1, stepper_z2
cycle_time: 0.020
fan_speed: 0.5

[controller_fan psu_fan]
pin: PE5
kick_start_time: 0.5
stepper: stepper_x, stepper_y, stepper_z, stepper_z1, stepper_z2
cycle_time: 0.020
fan_speed: 0.5

#####################################################################
#   Includes
#####################################################################

[include sb2040.cfg]
[include klicky-probe.cfg]
[include purge.cfg]
[include macros.cfg]
[include daylight.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 19.343
#*# pid_ki = 2.149
#*# pid_kd = 43.522
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 38.735
#*# pid_ki = 1.556
#*# pid_kd = 241.123
#*#
#*# [stepper_z]
#*# position_endstop = -0.962
